[Desktop Entry]
Name={{name}}
Comment={{comment}}
Exec={{exec}} %U
Icon={{icon}}
Type=Application
Terminal=false
Categories={{categories}}
Keywords=time;tracking;work;attendance;
StartupWMClass={{name}}
StartupNotify=true
